.Widget {
    background-color: #fff;
    border-radius: 12px;
    height: 321px;
    padding: 20px;
    transition: scale, 0.3s;

    .header {
        align-items: center;
        background-color: var(--light-blue-color);
        border-radius: 6px;
        display: flex;
        font: var(--font-subheadline);
        font-weight: 500;
        height: 60px;
        margin-bottom: 40px;
        padding: 10px 15px;

        .icon {
            margin-right: 10px;
        }
    }

    &:hover {
        scale: 1.02;
    }
}
