.Widget {
    background-color: #D2D2D2;
    border-radius: 12px;
    height: 321px;
    padding: 20px;

    .header {
        align-items: center;
        background-color: #8F8F8F;
        border-radius: 6px;
        color: #fff;
        display: flex;
        font: var(--font-subheadline);
        font-weight: 500;
        height: 60px;
        margin-bottom: 40px;
        padding: 10px 15px;

        .icon {
            margin-right: 5px;
        }
    }
}
