.Navbar {
    background-color: rgb(248 248 252 / 70%);
    height: 50px;
    left: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;

    .breadcrumbs {
        align-items: center;
        justify-content: space-between;
        display: flex;
        height: 100%;
        width: 100%;

        .navigation {
            align-items: center;
            display: flex;
            height: 100%;
        }
    }

    .mainName {
        font: var(--font-subheadline);
        font-weight: bold;
    }

    .serviceName {
        font: var(--font-subheadline);
        font-weight: 100;
    }
}
