.FriendsPage {
	background-color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	.tabs {
		overflow-y: auto;
		padding: var(--big-indent);
		scrollbar-gutter: stable both-edges;
		width: 535px;
	}
}