.Form {
    padding: var(--medium-indent);
    width: 300px;

    .title {
        margin-bottom: 20px;
    }


    .inputWrapper {
        margin-bottom: 20px;

        .input {
            height: 50px;
            width: 100%;
        }

        .validateError {
            color: var(--red-color);
        }
    }

    .button {
        height: 40px;
        width: 100%;
    }

    .error {
        margin-bottom: var(--medium-indent);
    }
}
