.List {
    padding: 20px;
    width: 321px;

    .item {
        &:hover {
            // TODO в переменную
            background-color: #EAEAEC;
        }
    }

    .selected {
        background-color: #EAEAEC;
    }
}
