.FriendsPage {
	background-color: #fff;
	display: flex;
	height: 100%;
	width: 100%;

	.friends {
		.tabsSelector {
			display: flex;

			.tabsSelectorItem {
				background-color: var(--mid-gray-bg-color);
			}

			.active {
				background-color: red;
			}
		}
	}
}