.ListItem {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    height: 80px;

    .title {
        font: var(--font-callout);
        font-weight: 500;
    }

    .text {
        font: var(--font-caption);
        font-weight: 100;
    }

    .date {
        font: var(--font-caption);
        font-weight: 300;
    }
}
