.List {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: var(--big-indent);
	min-height: 200px;

	.warning {
		margin: 0 auto;
	}

	.listItem {
		&:hover {
			// TODO в переменную
			background-color: #EAEAEC;
		}
	}
	
	.skeleton {
		border-radius: var(--medium-round);
		height: 230px;
		width: 230px;
	}
}
